body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    resize: none;
}

textarea {
    height: 150px !important;
}

.pegi-selection {
    margin-bottom: 5px;
    display: inline-block;
}

.pegi-selection input[type=radio], .pegi-selection input[type=checkbox], .custom-checkbox {
    width: 20px;
    margin: 2px 0;
    box-shadow: none !important;
    display: inline-block;
}

.pegi-icon {
    height: 40px;
    margin: 0 5px;
}

.requirements {
    margin-bottom: 10px;
}

.requirements-group {
    padding-top: 10px;
    border: 1px solid #eee;
}

.requirements h4 {
    font-weight: bold;
    margin-left: 16.666666664%;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

.requirements a {
    width: 280px;
    margin-left: 16.66666664%;
    padding-left: 5px;
    text-align: right;
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;
}

#min-reqs-show-link, #rec-reqs-show-link {
    display: block;
}
#min-reqs-hide-link, #min-requirements, #rec-reqs-hide-link, #rec-requirements {
    display: none;
}
.requirements-list {
    list-style: none;
    padding-left: 0;
}
.requirements-list li {
    display: block;
}

.unavailable-link-fill {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.icon-link {
    background-image: url(../Images/icons-2.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position-y: 0;
    overflow: hidden;
    text-indent: 9999px;
    opacity: 1;
    text-decoration: none;
    line-height: 1;
}
.icon-link:hover {    
    background-position-y: -30px;
    opacity: 1.0;
}

.icon-link-edit {
    background-position-x: -60px;
}
.icon-link-details {
    background-position-x: -90px;
}
.icon-link-delete {
    background-position-x: -120px;
}
.icon-link-increase {
    background-position-x: -150px;
}
.icon-link-decrease {
    background-position-x: -180px;
}
.icon-link-confirm {
    background-position-x: -210px;
}
#cart-icon {
    background-position-x: -30px;
    position: relative;
    margin: 13px 5px 7px;
    overflow: visible;
}
#cart-icon a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 9999px;
    position: absolute;
}
#cart-icon .items-count {
    text-indent: 0;
    background: #f44;
    color: #fff;
    display: block;
    border-radius: 11px;
    padding: 7px 4px 6px;
    position: relative;
    top: -8px;
    right: -18px;
    width: 24px;
    line-height: 11px;
    font-weight: bold;
    text-align: center;
}
.quantity-change-box {
    width: 54px;
    padding: 3px 0 3px 10px;
    text-align: right;
    font-size: 13px;
    color: #666;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
    bottom: 9px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.overflow-hidden {
    overflow: hidden;
}
.gray {
    color: #bbb;
}
.red {
    color: #f44;
}
.bold {
    font-weight: bold;
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}

.products-table th {
    text-align: center;
}
.products-table td {
    vertical-align: middle !important;
}

.products-table tr:nth-child(2n) td {
    background-color: #f7f7fe;
}
.deleted-product {
    color: #bbb !important;
}



.product-box {
    position: relative;
    display: block;
    width: 222px;
    height: 330px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 15px;
    margin-bottom: 15px;
}
.product-box .cover {
    top: 12px;
    left: 13px;
    position: absolute;
}
.product-box .unavailable {
    z-index: 4;
    display: block;
    background-color: #888;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0 2px;
    font-size: 11px;
    letter-spacing: 1.25px;
    position: absolute;
    top: 260px;
    left: -1px;
    right: -1px;
}
.product-box .platform {
    z-index: 4;
    position: absolute;
    display: block;
    color: #fff;
    padding: 8px 28px 5px;
    background: rgba(0,0,0,0.85);
    border: 1px solid rgba(255,255,255,0.3);
    top: -1px;
    left: -1px;
}
.platform-xbox {
    background: rgba(0,144,0,0.85);
}
.platform-ps {
    background: rgba(0,0,144,0.85);
}
.product-box .info {
    position: absolute;
    top: 279px;
    left: 0;
    width: 221px;
    height: 50px;
    color: #000;
    font-family: arial narrow;
    border-top: 1px solid #ccc;
    padding: 4px 10px 10px;
}
.product-box .info > span:last-child {
line-height: 17px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 2px;
    display: block;
    overflow: hidden;
    height: 38px;
    text-overflow: ellipsis;
}

.price {
    position: relative;
    float: right;
    height: 44px;
    font-weight: 200;
    font-size: 34px;
    line-height: 38px;
    display: block;
    margin-top: 2.5px;
    font-family: arial narrow;
}
.price > span:first-child {
    position: relative;
    width: 25px;
    height: 38px;
    float: right;
    margin-top: -3px;
}
.price > span:first-child > span:first-child {
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    line-height: 29px;
    text-align: right;
}
.price > span:first-child > span:last-child {
    font-size: 13px;
    line-height: 20px;
    font-weight: 200;
    letter-spacing: -0.2px;
    top: 19px;
    position: absolute;
    width: 100%;
    text-align: right;
}
.products-list {
    overflow: hidden;
    padding: 20px 0;
    margin-top: 12px;
    border-top: 1px solid #ddd;
}

.product-box:hover {
    border: 1px solid black;
}
.product-box:hover .info {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
}
.product-box:hover .cover {
    opacity: 0.4;
}
.product-box:hover .unavailable {
    background-color: #b11;
}
.product-box:hover .platform {
    background-color: rgba(144, 0, 0, 0.85);
}

.add-to-cart {
    width: 192px;
    height: 40px;
    float: right;
}
.add-to-cart > * {    
    height: 100%;
    outline: none;
    float: left;
}
.add-to-cart :first-child {
    width: 53px;
    padding: 3px 0 3px 10px;
    text-align: right;
    font-size: 13px;
    color: #666;
    background-color: #ffffff;
    border: 1px solid #999;
    border-right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.add-to-cart :last-child {
    width: 139px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #900;
    background: #d22;
    color: #fff;
    font-family: arial narrow;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 2.25px;
}
.add-to-cart :last-child:hover {
    border: 1px solid #d00;
    background: #e55;
}

span.quantity-change-box {
    display: inline-block;
    padding-right: 10px;
}

main {
    display: block;
    overflow: hidden;
}
main:after {
    clear: both;
    content: "";
    display: block;
}

.cart-order-buttons {
    float: right;
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cart-order-buttons > a {
    display: inline-block;
    width: 170px;
    padding: 10px;
    color: #fff;
    border-radius: 7px;
    text-align: center;
    font-family: arial narrow;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    border: 1px solid #666;
    text-decoration: none;
    transition: 0.2s linear;
}
.cart-order-buttons > a:first-child {
    background: #b22;
}
.cart-order-buttons > a:first-child:hover {
    background: #d44;
}
.cart-order-buttons > a:last-child {
    background: #2b2;
}
.cart-order-buttons > a:last-child:hover {
    background: #4d4;
}

.products-table a.product-title {
    font-size: 20px;
    font-family: arial narrow;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #333;
    transition: 0.2s linear;
    margin-bottom: 8px;
    display: block;
}
.products-table a.product-title:hover {
    color: #88b;
}

h2 {
    font-family: arial narrow;
    font-size: 32px;
    letter-spacing: 1px;
}